version: '3.8'

services:
  redis:
    image: redis:6.2-alpine
    container_name: redis_cache
    command: redis-server --appendonly no
    volumes:
      - redis-data:/data

  app:
    build: ./app
    container_name: app_service
    # THAO TÁC QUAN TRỌNG: Giới hạn chỉ 2 worker để tạo bottleneck Scalability
    environment:
      REDIS_HOST: redis
      GUNICORN_WORKERS: 2
    ports:
      - "8000"
    depends_on:
      - redis

  nginx:
    image: nginx:stable-alpine
    container_name: nginx_proxy
    ports:
      - "81:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app

volumes:
  redis-data:
